
.hero .center .btn-learn-more{
    background-color: var(--primary-btn-color);
    margin: 37px 0px 50px 0px;
    Width: 250px;
    Height: 250px;
    Width: 161px;
    Height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:  var(--backgrond-color-top);
    background: linear-gradient(45deg, var( --backgrond-color-top)50%, var(--primary-btn-color) 50%);
    background-position: 100%;
    background-size: 400%;
    transition: 0.3s ease-in-out;
}

.hero .center .btn-learn-more:hover{
    background-position: 0%;
}
.hero .center .btn-learn-more:hover a{
    color:var(--primary-btn-color);
}