body{
    height: 100vh;
}
/*HEADER*/
.header{
    padding: 56px 165px;
    display: flex;
    justify-content: space-between;  
    background-color: var(--backgrond-color-top);
}
.header .header-apply-link a{
    font-family: textos;
    color: var(--backgrond-color-bot);
    font-weight: 700;
    font-size: 18px;
    line-height: 178%;
    letter-spacing: -0.18px;
    color: var(--backgrond-color-bot); 
    transition: 1s ease-in-out; 
    padding: 3px;
    border-bottom: 3px solid var(--primary-btn-color);
}
.header .header-apply-link a:hover{
    color: var(--primary-btn-color);
}
.header .header-image img{
    height: 24.61px;
}
.main{
    display: flex;
    flex-direction: column;
}
.main .hero{
    height: 560px;
    display: grid;
    grid-template-areas:
        "left center right"
    ;
    grid-template-columns:1fr 635px 1fr;
    background-color: var(--backgrond-color-top);
}
.hero .left{
    grid-area: left;
}
.hero .left img{
    top:116px;
    left: -125px;
    position: absolute; 
}
.hero .center{
    grid-area: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.hero .center h1{
    font-family: title;
    color: var(--backgrond-color-bot);
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    text-align: center;
}
.hero .center u{
    text-underline-position: under;
    text-decoration-color: var(--primary-btn-color);
    text-decoration-thickness:5px;
}
.hero .center .btn-learn-more{
    background-color: var(--primary-btn-color);
    margin: 37px 0px 50px 0px;
    Width: 161px;
    Height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-learn-more a{
    color: var(--backgrond-color-top);
    font-family: texts;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 178%;
}
.hero .center img{
    margin-top: -35px;
    width: 767px;
    height: 441px;
}
.hero .center .front-image{
    position: absolute;
    top:390px;
    z-index: 1;
}
.hero .right img{
    top: 200px;
    right:-270px;
    position: relative; 
}
.ornament{
    height: 70px;
    position: relative;
}
.ornament .curve{
    width: 100%;
    border-radius: 100%;
    height:100px;
    position: absolute;
    top: -75%;
    clip: rect(50px,auto,auto,auto);
}
.ornament .curve#hero{
    background-color:var(--backgrond-color-top);
}
.ornament#hero {
    background-color: var(--backgrond-color-mid);
}

.services-conteiner{
    margin-top: 100px;
    background-color: var(--backgrond-color-mid);
}
.services{
    display: flex;
    margin:171px 165px;
}
.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 26px;
}
.service-number{
    display: flex;
    height: 56px;
    width: 56px;
    Font-size: 2.4rem;
    border-radius: 100%;
    border: solid 2px;
    align-items: center;
    justify-content: center;
    margin-bottom: 56px;
    color: var(--backgrond-color-top);
}
.service-description h3{
    font-family: 'Fraunces 144pt';
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 125%;
    text-align: center;
    color: var(--backgrond-color-top);
    margin-bottom: 28px;
}
.service-description p{
    font-family: texts;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}
.ornament#services {
    background-color:var(--backgrond-color-bot);
}
.ornament .curve#services{
    background-color: var(--backgrond-color-mid);
}

.founder{
    margin: 107px 165px;
}
.founder .founder-image img{
    margin: 0px;
    align-self: flex-start;
    width: 447px;
    height: 447px;
}
.founder .founder-message{
    padding: 64px;
    width: 730px;
    height: 404px;
    background-color: var(--backgrond-color-top);
    position: relative;
    top: -300px;
    left: 382px;
}
.founder .founder-message h2{
    font-family: title;
    font-size: 56px;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.founder .founder-message p{
    font-family: texts;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.founder .btn#apply-to-acess{
    background-color: var(--primary-btn-color);
    Width: 190px;
    Height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.founder .image-pattern3{
    position: relative;
    top: -80px;
    left: 390px;
}
.footer{
    margin: 110px 162px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.footer .logo{
    margin-bottom: 56px;
}
.footer .socials{
    display: flex;  
}
.footer .social a{
    color: var(--backgrond-color-top);
    font-size: 28px;
    padding: 28px;
}